<div class="footer">
    <div class="footerNav">

        <a href="../html/summary.html">
            <div class="navItem navSelectedFooterSummary">
                <div class="">
                    <img src="../assets/img/summary.png">
                </div>
                Summary
            </div>
        </a>

        <div class="navItem navSelectedFooterBoard">
            <div class="">
                <img src="../assets/img/board.png">
            </div>
            <a href="../html/board.html">Board</a>
        </div>

        <div class="navItem navSelectedFooterTasks">
            <div class="">
                <img src="../assets/img/add-task.png">
            </div>
            <a href="../html/addtask.html">Add Task</a>
        </div>

        <div class="navItem navSelectedFooterContacts" ">
            <div class="">
                <img src=" ../assets/img/contacts.png">
        </div>
        <a href="../html/contacts.html">Contacts</a>
    </div>

</div>
</div>